@import 'variables';
@import 'mixins';
// @import "~bootstrap/scss/bootstrap";

body {
    background-color: $tertiary;
    // color: #22223b;
    color: $dark-primary;
}

h1 {
	color: $secondary;
	font-family: georgia;
}

a {
    color: $dark-secondary;
}